* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  min-width: 1000px;
}






/* .lnb {
  width: 100%;
  height: 75px;
  min-width: 1000px;
  background: white;
  display: flex;
  border-bottom: 1px solid gray;
  overflow: hidden;
  display: flex;
}
.lnb > div:nth-of-type(1) {
  position: relative;
  margin-top: 24px;
  left: 100px;
  height: 70px;
  width: 15%;
}
.lnb > div:nth-of-type(2) {
  position: relative;
  right: 110px;
  height: 70px;
  width: 350px;
  background-color: aquamarine;
  margin: 0 auto;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.content > h2 {
  font-size: 2.2em;
  font-weight: 600;
}
.content > h3 {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 400;
}

.seclect {
  margin-top: 75px;
  display: flex;
  justify-content: center;
} */
