* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}

li {
  list-style: none;
}
body {
  margin: 0;
  height: 1400px;
}

.first_gnb {
  width: 100%;
  height: 75px;
  min-width: 1000px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(83, 83, 83, 0.24);
  display: flex;
  overflow: hidden;
}
.first_gnb > div:nth-of-type(1) {
  position: relative;
  left: 100px;
  height: 70px;
  width: 15%;
}
.first_gnb > div:nth-of-type(2) {
  position: absolute;
  right: 100px;
  overflow: hidden;
  margin-top: 24px;
}
.first_gnb > div:nth-of-type(2) > p {
  float: left;
  margin-left: 14px;
  font-size: large;
}
.first_gnb > div:nth-of-type(2) > p > a {
  color: #d3b084;
  padding-right: 14px;
  border-right: 2px solid #eaddc3;
}
.first_gnb > div:nth-of-type(2) > p:last-child > a {
  border: 0;
}
*/ .main-image {
  background-size: cover;
  position: relative;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: 800px;
}

.box {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 130%;
  text-shadow: rgb(82, 78, 64) 1px 0 10px;
}
.container > a {
  text-decoration: underline;
  text-underline-position: under;
  color: rgba(255, 255, 255, 0.788);
  font-size: 36px;
}
.container > a:nth-of-type(1) {
  background-color: rgba(116, 116, 116, 0.37);
}
.container > a:nth-of-type(2) {
  background-color: rgba(78, 78, 78, 0.37);
}
.container > a:nth-of-type(3) {
  background-color: rgba(43, 43, 43, 0.37);
}

.box ~ a:hover {
  background-color: black;
  color: white;
  opacity: 50%;
}

.create {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 30px 300px;
}

.creat-contetn {
  display: flex;
}

.text-box {
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.text-box-title {
  font-size: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.a {
  grid-column: 2/4;
  color: black;
  font-size: 40px;
}

.b {
  grid-column: 2/4;
  color: black;
  font-size: 25px;
}

.c {
  padding: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.c:hover {
  background-color: black;
  color: white;
  opacity: 40%;
}

.d {
  padding: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.d:hover {
  padding: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.new-form {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
}

.read {
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 500px;
  text-align: center;
  align-items: center;
  text-align: center;
}

.jogging-content {
  height: 500px;
  border-style: solid;
  border-width: 1px;
}

.bg {
  position: absolute;
  max-width: 100%;
  border: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  z-index: -10;
}
