* {
  margin: 0;
  padding: 0;
}
a {
  color:black;
  text-decoration: none;
}
a:visited {
  color: black;
}

li {
  list-style: none;
}
body {
  margin: 0;
  height: 1000px;
  background-color: #f9f9f9;
}


table{
  border-collapse: separate;
  width:400px;
  margin:auto;
  border-spacing: 5px;
}

tr{
  padding:5px;
}

td{
  margin:5px;
}

read ~ .image-check{
  overflow:hidden;
  height:300px;
  width:300px;
}

.read-animal-image{
  padding-top:10px;
  padding-bottom: 10px;
}

.animal-image{
  width:auto;
  height: 400px;
  overflow: hidden;
  padding-bottom: 10px;

}
.first_gnb {
  width: 100%;
  height: 75px;
  min-width: 1000px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(83, 83, 83, 0.24);
  display: flex;
  overflow: hidden;
}
.first_gnb > div:nth-of-type(1) {
  position: relative;
  left: 100px;
  height: 70px;
  width: 15%;
}
.first_gnb > div:nth-of-type(2) {
  position: absolute;
  right: 100px;
  overflow: hidden;
  margin-top: 24px;
}
.first_gnb > div:nth-of-type(2) > p {
  float: left;
  margin-left: 14px;
  font-size: large;
}
.first_gnb > div:nth-of-type(2) > p > a {
  font-weight: 500;
  color: #d3b084;
  padding-right: 14px;
  border-right: 2px solid #eaddc3;
}
.first_gnb > div:nth-of-type(2) > p > a:hover {
  color: black;
  transition-duration: 0.3s;
}

.first_gnb > div:nth-of-type(2) > p:last-child > a {
  border: 0;
}

*/ .main-image {
  background-size: cover;
  position: relative;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.box {
  font-size: 30px;
  font-weight: 500;
  display: block;
  height: 100%;
  padding-top:100%;
  text-align: center;
  color: white;
  line-height: 130%;
  text-shadow: rgb(82, 78, 64) 1px 0 10px;
}
.container > a {
  text-decoration: underline;
  text-underline-position: under;
  color:white;
  font-size: 36px;
}
.container > a:nth-of-type(1) {
  background-color: rgba(116, 116, 116, 0.37);
}
.container > a:nth-of-type(2) {
  background-color: rgba(78, 78, 78, 0.37);
}
.container > a:nth-of-type(3) {
  background-color: rgba(43, 43, 43, 0.37);
}
.container > a:hover {
  background-color: black;
  color: white;
  opacity: 50%;
  transition-duration: 0.5s;
}

.create {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 30px 300px;
}

.creat-contetn {
  display: flex;
}

.text-box {
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.text-box-title {
  font-size: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.a {
  grid-column: 2/4;
  color: black;
  font-size: 40px;
}

.b {
  grid-column: 2/4;
  color: black;
  font-size: 25px;
}

.c {
  padding: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.c:hover {
  background-color: black;
  color: white;
  opacity: 40%;
}

.d {
  padding: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.d:hover {
  padding: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.box-main{
  display:grid;
  height: 800px;
  grid-template-rows: 2fr 2fr 2fr 3fr;
}

.read {
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 500px;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.jogging-content {
  height: 500px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-radius: 10px;
}

.bg {
  position: absolute;
  max-width: 100%;
  border: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

.detail{
  display: grid;
  align-items: center;
  text-align: center;
}

.detail-content{
  align-items: center;
  text-align: center;
}

.read-title{
  font-size: 25px;
  padding-top:5px;
  padding-bottom: 5px;
}

.read-hover:hover{
  background-color: black;
  color: white;
  opacity: 80%;
  border-style: none;
  border-radius: 10px;
}

.read-category{
  display: inline-block;
}
.read-text{
  display: inline-block;
  width:200px;
  font-size:20px;
  border-style: solid;
  border-width: 1px;
  margin:3px;
}

.detail-page{
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 60% 40%;
}
.detail-title{
  padding : 20px;
  font-size: 25px;
}

.detail-content{
  display: inline-block;
}
.detail-content-text{
  display: inline-block;
}

.table-title{
  border-style: solid;
  border-color: rgb(161, 121, 83);
  border-width: 1px;
  border-radius: 7px;
  background-color: rgb(161, 121, 83);
  color:white;
}

.comment-context{
  margin:20px;
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  display: grid;
  grid-template-rows: 40px 80% 20%;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.comment-title{
  font-size: 25px;
}

.comment-add-head{
  padding:5px;
  width:100px;
  border-style: none;
  border-radius:3px;
  background-color: orange;
  color:white;
  align-items: center;
  text-align: center;
}

.comment-add-head:hover{
  text-decoration: none;
  color:black;
}

.create-comment{
  padding:20px;
  height:1000px;
  display: grid;
  grid-template-rows: 50px 40px 400px;
  align-items: center;
  text-align: center;
}


.create-comment-title{

  font-size: 25px;
}

.create-comment-text{
  padding: 10px;
  font-size:20px;
}

.login_form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.login_form > form > label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
  color: rgb(117, 117, 117);
}
.login_form > form > input {
  border: 1px solid rgba(83, 83, 83, 0.24);
  background-color: rgb(223, 223, 223);
  width: 250px;
  height: 35px;
}
.login_form > form > button {
  width: 150px;
  height: 50px;
  line-height: 3px;
  margin-top: 40px;
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: 600;
  border: 2px solid #d3b084;
  color: #d3b084;
  background-color: white;
  
}
.login_form > form > button:hover {
  background-color: #d3b084;
  color: white;
  transition-duration: 0.3s;
}

.create-content{
  display: grid;
  align-items: center;
  text-align: center;
}

.new-form{
  padding-top:30px;
  display:inline-block;
  text-align: center;
}

.form-button{
  width: 150px;
  height: 50px;
  line-height: 3px;
  margin-top: 40px;
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: 600;
  border: 2px solid #d3b084;
  color: #d3b084;
  background-color: white;
}

.box2{
  text-align: center;
  color: white;
  font-weight: 800;
  padding-left:15%;
  padding-right:5%;
  font-size:30px;
  display:flex;
  align-items: center;
}

.box3{
  font-weight: 500;
  line-height: 140%;
  padding-left:15%;
  padding-right:5%;
  font-size:20px;
  display:flex;
  align-items: center;
  color:rgb(255, 255, 255);

}

.comment-layout{
  color:black;
  padding:20px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.comment-author{
  color:black;
  font-weight:600;
  font-size:20px;
}
