* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  min-width: 1000px;
  background-color: #f9f9f9;
}

.create {
  margin-top: 50px;
}
.create > div:nth-of-type(1) {
  font-weight: 600;
}
.create > div:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.2em;
  margin-top: -30px;
  color: rgb(116, 116, 116);
}
.create > a {
  margin-top: 65px;
  font-size: 35px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(49, 49, 49);
}
.create > a:nth-of-type(1) {
  border: 3px solid #99e6d8;
  background-color: #def5f0;
  text-shadow: rgba(19, 107, 66, 0.4) 1px 0 10px;
  border-radius: 20px;
}
.create > a:nth-of-type(2) {
  border: 3px solid #95d2ff;
  background-color: #d9f0ff;
  text-shadow: rgba(18, 124, 143, 0.4) 1px 0 10px;
  border-radius: 20px;
  margin-left: 15px;
}
.create > a:nth-of-type(1):hover {
  opacity: 100%;
  background-color: #99e6d8;
  transition-duration: 0.3s;
}
.create > a:nth-of-type(2):hover {
  color: white;
  opacity: 100%;
  background-color: #95d2ff;
  transition-duration: 0.3s;
}

/* .lnb {
  width: 100%;
  height: 75px;
  min-width: 1000px;
  background: white;
  display: flex;
  border-bottom: 1px solid gray;
  overflow: hidden;
  display: flex;
}
.lnb > div:nth-of-type(1) {
  position: relative;
  margin-top: 24px;
  left: 100px;
  height: 70px;
  width: 15%;
}
.lnb > div:nth-of-type(2) {
  position: relative;
  right: 110px;
  height: 70px;
  width: 350px;
  background-color: aquamarine;
  margin: 0 auto;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.content > h2 {
  font-size: 2.2em;
  font-weight: 600;
}
.content > h3 {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 400;
}

.seclect {
  margin-top: 75px;
  display: flex;
  justify-content: center;
} */
