<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
           <tr><td>{{joggingobject.title}}</td></tr> 
           <tr><td>{{joggingobject.author}}</td></tr>
            {% if joggingobject.image %}
                 <img src="{{joggingobject.image.url}}" width="300px">
            {% endif %}
            <tr><td>{{joggingobject.animal_kind}}</td></tr>
            <tr><td>{{joggingobject.area}}</td></tr>
            <tr><td>{{joggingobject.start_time}}</td></tr>
            <tr><td>{{joggingobject.end_time}}</td></tr>
            <tr><td>{{joggingobject.kind}}</td></tr>
            <tr><td>{{joggingobject.price}}</td></tr>
            <tr><td>{{joggingobject.caution}}</td></tr>
            <tr><td>{{joggingobject.content}}</td></tr>
        </table>

        <div>
            {% for comment in joggingobject.comments.all %} 
                <p>{{comment.author}} </p>
                <p>{{comment.comment}}</p>
            {% empty %}
                <p>not yet</p>
            {% endfor %}
        </div>
       

        <a href="{% url 'commentJog' joggingobject.id %}">댓글 등록</a>

    </body>
    </div>
    
</html>