<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
           <tr><td>{{joggingobject.title}}</td></tr> 
           <tr><td><img src="{{joggingobject.image.url}}" width="300px" height="500px"></td></tr>
            <tr><td>{{joggingobject.animal_kind}}</td></tr>
            <tr><td>{{joggingobject.area}}</td></tr>
            <tr><td>{{joggingobject.start_time}}</td></tr>
            <tr><td>{{joggingobject.end_time}}</td></tr>
            <tr><td>{{joggingobject.kind}}</td></tr>
            <tr><td>{{joggingobject.price}}</td></tr>
            <tr><td>{{joggingobject.caution}}</td></tr>
            <tr><td>{{joggingobject.content}}</td></tr>
        </table>
       
    </body>
    </div>
    
</html>