{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>  -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class ="first_gnb">
        <div><img src="{% static 'image/logo_black.png' %}" width=250px></div>
        <div>
            <p><a href="{%url 'account:signup' %}">회원가입</a></p>
            {% if user.is_authenticated %}
            <p><a href="{%url 'account:logout' %}">로그아웃</a></p>
            {% else %}
            <p><a href="{%url 'account:login' %}">로그인</a></p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="box">
            반려동물에게 최고의 컨디션을🐶
            <br>
            <br>
            갑자기 집을 비워야할 때!
            <br>
            오랫동안 여행을 떠날때!

        </div>
        <a href="{%url 'readJogging' %}" class="box">산책의뢰</a>
        <a href="{%url 'readCare' %}" class="box">임보의뢰</a>
        <a href="{% url 'new' %}" class="box">글쓰기</a>
    </div>
</body>
</html>

<!--
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMAL</title>
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
    <!-- <link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
</head>
