<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMAL</title>
</head>
<body>
    <div class="main-content">
        반려동물의 최상의 컨디션을.. 
    </div>
    <table>
        <tr>
            <td><a href="{%url 'readJogging' %}">산책의뢰</a></td>
            <td><a href="{%url 'readCare' %}">임보의뢰</a></td>
            <td><a href="{% url 'new' %}">글쓰기</a></td>
        </tr>
    </table>
    <p><a href="{%url 'account:signup' %}">회원가입</a></p>

    {% if user.is_authenticated %}
    <p><a href="{%url 'account:logout' %}">로그아웃</a></p>
    {% else %}
    <p><a href="{%url 'account:login' %}">로그인</a></p>
    {% endif %}
</body>
</html>