<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h2>어떤 종류의 의뢰를 맡기세요?</h2>
        <h3>둘 중 하나의 의뢰 유형을 선택해주세요</h3>
        <div classs="seclect">
            <table>
                <tr>
                    <td><a href="{% url 'createJogging' %}">산책의뢰</a></td>
                    <td><a href="{% url 'createCare' %}">임보의뢰</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>