{% extends 'base.html' %}
{% load static %}

<head>
    {% block extrahead %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/new.css' %}">
    {% endblock %}
</head>
{% block content %}
    <div class="create">
        <div class="text-box a">어떤 종류의 의뢰를 맡기세요?</div>
        <div class="text-box b">둘 중 하나의 의뢰유형을 선택해주세요.</div>
        <a href="{% url 'createJogging' %}" class="text-box c">산책의뢰</a>
        <a href="{% url 'createCare' %}" class="text-box d">임보의뢰</a>
    </div>
{% endblock %}