<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/new.css' %}">
</head>
<body>
    <div class ="lnb">
        <div>
            <p><a href="{%url 'account:signup' %}">홈으로 돌아가기</a></p>
        </div>
        <div><img src="#"/></div>
    </div>
    <div class="content">
        <h2>어떤 종류의 의뢰를 맡기세요?</h2>
        <h3>둘 중 하나의 의뢰유형을 선택해주세요.</h3>
        <div class="seclect">
            <table>
                <tr>
                    <td><a href="{% url 'createJogging' %}">산책의뢰</a></td>
                    <td><a href="{% url 'createCare' %}">임보의뢰</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>