<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>산책의뢰</h3>
    <div class="jogging-content">
        {% for jog in jogs.all %} 
            <p><a href="{% url 'detailJogging' jog.id %}">{{jog.title}}</a></p>
            <p>{{jog.area}}</p>
            <p>{{jog.kind}}</p>
            <p>{{jog.price}}</p>
            <img src="{{jog.image.url}}" height="300px" width="200px">
        {% endfor %}
    </div>
</body>
</html>