{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="text-box-title">임보의뢰</div>
    <div class="read">
            {% for care in cares.all %} 
            <div class="jogging-content">
            <p><a href="{% url 'detailCare' care.id %}">{{care.title}}</a></p>
            {% if care.image %}
                 <img src="{{care.image.url}}" width="300px">
            {% endif %}
            <p>{{careg.area}}</p>
            <p>{{care.kind}}</p>
            <p>{{care.price}}</p>
            </div>
            {% endfor %}
    </div>
</body>
</html>
{% endblock %}