<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>산책의뢰</h3>
    <div class="jogging-content">
        {% for care in cares.all %} 
            <p>{{care.title}}</p>
            <p>{{care.area}}</p>
            <p>{{care.kind}}</p>
            <p>{{care.price}}</p>
            <img src="{{care.image.url}}" height="300px" width="200px">
        {% endfor %}
    </div>
</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="text-box-title">산책의뢰</div>
    <div class="read">
            {% for jog in jogs.all %} 
            <div class="jogging-content">
            <p><a href="{% url 'detailJogging' jog.id %}">{{jog.title}}</a></p>
            {% if jog.image %}
                 <img src="{{jog.image.url}}" width="300px">
            {% endif %}
            <p>{{jog.area}}</p>
            <p>{{jog.kind}}</p>
            <p>{{jog.price}}</p>
            </div>
            {% endfor %}
    </div>
</body>
</html>
{% endblock %}